# Python cache files
pycache/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
.venv/
env/
ENV/

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# --- Project-Specific ---
# !! CRITICAL: Ignore all data, models, and results !!
# Ignore the raw data folder
data/

# Ignore all generated artifacts and results
results/
artifacts/
metadata_features.csv

# Ignore saved models and test data
src/models/baseline/models/
src/models/baseline/data/

# for CNN
src/models/cnn/models/
src/models/cnn/data/

# Ignore model files directly by extension
*.pkl
*.h5
*.pth